* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    z-index: 0;

    top: 0;
}

.hud {
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
}

@import './title';
